body{
margin: 0;
overflow: hidden;
}

@font-face {
font-family: "Pixelade";
src: url("./PIXELADE.ttf");
}

#score{
	
	color: white;
	font-family:"Pixelade";
	font-size:30px;
	width : 100px;
	height: 100px;
	position: absolute;
	top: 40%;
	left:5%;
}

#scoreNB {
font-size:25px;
}
#vieNB{
font-size:25px;
}
#mscoreNB {
font-size:25px;
}
